node_modules/
public/bower_components/
public/app/*.js
public/app/*.js.map
public/app/**/*.js
public/app/**/*.js.map
public/css/bundle.min.css
public/js/bundle.min.js
test/client/*.js
test/client/*.js.map
*.env
*.log
