<div fxLayout="column" fxLayoutFill>
	<span *ngIf="!userService.isLoggedIn()" fxFlex>
		<h3>{{title}}</h3>
		<p>{{description.welcome}}</p>
	</span>
	<span *ngIf="userService.isLoggedIn()" fxFlex>
		<h3 fxLayout="row" fxLayoutAlign="start center">
			{{title}}
			<a mat-icon-button (click)="toggleModal()" matTooltip="Application stats">
				<mat-icon class="material-icons-fas" fontSet="fas" fontIcon="fa-chart-bar" [ngClass]="{ 'help-highlight': showHelp }"></mat-icon>
			</a>
			<a mat-icon-button (click)="logout()" matTooltip="Log out of SPAMT Controls">
				<mat-icon class="material-icons-fas" fontSet="fas" fontIcon="fa-sign-out-alt" [ngClass]="{ 'help-highlight': showHelp }"></mat-icon>
			</a>
		</h3>
		<p>{{description.authenticated}}</p>
	</span>

	<div fxFlex *ngIf="errorMessage || successMessage">
		<div *ngIf="errorMessage" class="feedback warning" fxLayout="row" fxLayoutAlign="start stretch">
			<span fxFlex="90" fxLayout="row" fxLayoutAlign="start center">
				<mat-icon class="material-icons-fas" fontSet="fas" fontIcon="fa-exclamation-triangle"></mat-icon> {{errorMessage}}
			</span>
			<button type="button" class="close" (click)="dismissMessages()" aria-label="Close">&times;</button>
		</div>
		<div *ngIf="successMessage" class="feedback success" fxLayout="row" fxLayoutAlign="start stretch">
			<span fxFlex="90" fxLayout="row" fxLayoutAlign="start center">
				<mat-icon class="material-icons-fas" fontSet="fas" fontIcon="fa-check"></mat-icon> {{successMessage}}
			</span>
			<button fxFlex="10" type="button" class="close" (click)="dismissMessages()" aria-label="Close">&times;</button>
		</div>
	</div>

	<form id="auth-form" fxFlex fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="authForm" (ngSubmit)="login()" *ngIf="!userService.isLoggedIn() && activate.form" novalidate>
		<mat-form-field class="full-width">
			<input matInput type="email" id="email" name="email" [formControl]="authForm.controls.email" pattern="^[\w%+-]+@[\w.-]+" title="email" placeholder="email" required />
			<mat-icon matSuffix class="material-icons">email</mat-icon>
			<mat-error *ngIf="!authForm.controls.email.error">
				Invalid value, should be email
			</mat-error>
		</mat-form-field>
		<div fxLayout="row" fxLayoutAlign="start stretch" class="controls">
			<span fxFlex="1 1 auto"></span>
			<span fxFlex="0 1 auto" *ngIf="authForm.controls.email.value">
				<a mat-button (click)="resetForm(true)">Reset Form</a>
			</span>
		</div>
		<div fxLayout="row" fxLayoutAlign="start stretch" class="controls">
			<button mat-button fxFlex type="submit" [disabled]="authForm.invalid" [attr.aria-label]="submit">Submit</button>
		</div>
	</form>

	<span *ngIf="userService.isLoggedIn()" fxFlex>

		<div fxLayout="row" fxLayoutAlign="start center">
			<p fxFlex>Logged in as:</p>
			<p fxFlex matTooltip="Login">{{userService.model.login}}</p>
			<p fxFlex matTooltip="Role">{{userService.model.role}}</p>
			<p fxFlex matTooltip="Full Name">{{userService.model.full_name}}</p>
		</div>

		<mat-tab-group #tabGroup>
			<mat-tab label="{{dataTabs[0]}}">
				<table>
					<thead>
						<tr>
							<th>Email</th>
							<th>First name</th>
							<th>Last name</th>
							<th>Role</th>
							<th>Last login</th>
							<th>Registered</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let user of usersList">
							<td>{{user.email}}</td>
							<td>{{user.firstName}}</td>
							<td>{{user.lastName}}</td>
							<td>{{user.role}}</td>
							<td>{{user.lastLogin | date}}</td>
							<td>{{user.registered | date}}</td>
						</tr>
					</tbody>
				</table>
			</mat-tab>
			<mat-tab label="{{dataTabs[1]}}">
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Weight</th>
							<th>Timestamp</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let query of queries.queriesList">
							<td>{{query.name}}</td>
							<td>{{query.weight}}</td>
							<td>{{query.timestamp | date}}</td>
						</tr>
					</tbody>
				</table>
			</mat-tab>
		</mat-tab-group>

		<div fxLayout="row" fxLayoutAlign="center center" *ngIf="tabGroup.selectedIndex === 0">
			<nvd3 fxFlex #appUsageChart [options]="chartOptions" [data]="appUsageData"></nvd3>
		</div>

		<div fxLayout="row" fxLayoutAlign="center center" *ngIf="tabGroup.selectedIndex === 1">
			<nvd3 fxFlex #queriesDataChart [options]="chartOptions" [data]="queriesData"></nvd3>
		</div>

	</span>

	<span id="modal" *ngIf="showModal">
		<button type="button" class="close" (click)="toggleModal()"><span>&times;</span></button>
		<h4>Platform Diagnostics</h4>
		<table>
			<tbody>
				<tr *ngFor="let unit of serverData.static">
					<td>{{unit.name}}</td>
					<td>{{unit.value}}</td>
				</tr>
			</tbody>
		</table>
	</span>
</div>
