<div id="dashboard-data">
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		<legend>User</legend>
		sc user details
	</div>
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
		<legend>Data</legend>
		<div id="filters">
			<span class="flex-item">
				<span class="input-label"><i class="fa fa-search" aria-hidden="true"></i> Search:</span> <input [(ngModel)]="filterSearchQuery">
			</span>
			<span class="flex-item">
				<span class="input-label"><i class="fa fa-sort" aria-hidden="true"></i> Sort by:</span>
				<select [(ngModel)]="sortByCriterion">
					<option value="name">Alphabetical</option>
					<option value="timestamp">Timestamp</option>
				</select>
			</span>
		</div>
		data tabs
	</div>
</div>
