<div fxFlex fxLayoutFill fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutFill="start stretch" fxLayoutGap="5px">

	<div fxFlex *ngIf="errorMessage || successMessage">
		<div *ngIf="errorMessage" class="feedback warning" fxLayout="row" fxLayoutAlign="start stretch">
			<span fxFlex="90" fxLayout="row" fxLayoutAlign="start center">
				<i class="fa fa-warning"></i> {{errorMessage}}
			</span>
			<button type="button" class="close" (click)="dismissMessages()" aria-label="Close">&times;</button>
		</div>
		<div *ngIf="successMessage" class="feedback success" fxLayout="row" fxLayoutAlign="start stretch">
			<span fxFlex="90" fxLayout="row" fxLayoutAlign="start center">
				<i class="fa fa-check-circle"></i> {{successMessage}}
			</span>
			<button fxFlex="10" type="button" class="close" (click)="dismissMessages()" aria-label="Close">&times;</button>
		</div>
	</div>

	<div fxFlex="25" fxFlex.xs="0 1 auto" fxFlex.sm="0 1 auto">
		<legend>User</legend>
		<div fxLayout="row" fxLayoutAlign="center center">
			<md-form-field>
				<span mdPrefix class="mat-caption" fxHide.xs="false" fxHide.gt-xs="true" fxHide.md="false" title="https://soundcloud.com/... finish the link"><i class="fa fa-link"></i> &nbsp;</span>
				<span mdPrefix class="mat-caption" fxHide.xs="true" fxHide.md="true">https://soundcloud.com/ &nbsp;</span>
				<input mdInput type="text" id="scUserName" name="scUserName" [formControl]="scUserName" title="username" placeholder="username" (keyup)="scUserNameKey($event)" [readonly]="userSelected()" />
				<md-error *ngIf="scUserName.hasError('pattern')">
					must be at least 3 characters long
				</md-error>
			</md-form-field>
			<button md-button [ngClass]="{ 'danger-bg': (!scUserName.value || scUserName.hasError('pattern')), 'success-bg': (scUserName.value && !scUserName.hasError('pattern')) }" (click)="getUser()" [disabled]="!scUserName.value || scUserName.hasError('pattern')" *ngIf="!userSelected()" mdTooltip="Get public data">GET</button>
			<button md-button class="danger-bg" (click)="resetSelection()" *ngIf="userSelected()" mdTooltip="Reset username and data">RESET</button>
		</div>
		<div *ngIf="userSelected()" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
			<a md-button [href]="publicData.user.permalink_url" target=_blank mdTooltip="Open Soundcloud profile in a new tab">
				<img [src]="publicData.user.avatar_url" alt="{{publicData.user.permalink}}">
			</a>
			<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="5px">
				<h3 class="mat-h3">{{publicData.user.username}}</h3>
				<h4 class="mat-h4">{{publicData.user.full_name}}</h4>
				<div fxLayout="row" fxLayoutAlign="center center" id="labels">
					<span fxFlex>{{publicData.user.plan}}</span>
					<span fxFlex>{{publicData.user.kind}}</span>
					<span fxFlex [ngClass]="{ 'success-bg': publicData.user.online, 'danger-bg': !publicData.user.online }">{{ (publicData.user.online) ? 'online' : 'offline' }}</span>
				</div>
				<table>
					<tbody>
						<tr>
							<td fxHide.xs fxHide.sm>Id</td>
							<td><i class="fa fa-info-circle" fxHide.md fxHide.lg fxHide.xl mdTooltip="Id"></i> {{publicData.user.id}}</td>
						</tr>
						<tr>
							<td fxHide.xs fxHide.sm>Last&nbsp;modified</td>
							<td><i class="fa fa-clock-o" fxHide.md fxHide.lg fxHide.xl mdTooltip="Last modified"></i> {{publicData.user.last_modified | date: 'yyyy-MM-dd hh:mm'}}</td>
						</tr>
						<tr>
							<td fxHide.xs fxHide.sm>Location</td>
							<td><i class="fa fa-globe" fxHide.md fxHide.lg fxHide.xl mdTooltip="Location"></i> {{publicData.user.country}} / {{publicData.user.city}}</td>
						</tr>
						<tr *ngIf="publicData.user.discogs_name">
							<td fxHide.xs fxHide.sm>Discogs&nbsp;name</td>
							<td><i class="fa fa-link" fxHide.md fxHide.lg fxHide.xl mdTooltip="Discogs name"></i> {{publicData.user.discogs_name}}</td>
						</tr>
						<tr *ngIf="publicData.user.myspace_name">
							<td fxHide.xs fxHide.sm>Myspace&nbsp;name</td>
							<td><i class="fa fa-link" fxHide.md fxHide.lg fxHide.xl mdTooltip="Myspace name"></i> {{publicData.user.myspace_name}}</td>
						</tr>
						<tr>
							<td fxHide.xs fxHide.sm>Website</td>
							<td><a [href]="publicData.user.website" target=_blank><i class="fa fa-home" fxHide.md fxHide.lg fxHide.xl mdTooltip="Website"></i> {{publicData.user.website_title}}</a></td>
						</tr>
						<tr [ngClass]="{ 'selected': selectedTab === 'Tracks' }">
							<td fxHide.xs fxHide.sm>Tracks</td>
							<td><i class="fa fa-music" fxHide.md fxHide.lg fxHide.xl mdTooltip="Tracks"></i> {{publicData.user.track_count}}</td>
						</tr>
						<tr [ngClass]="{ 'selected': selectedTab === 'Playlists' }">
							<td fxHide.xs fxHide.sm>Playlists</td>
							<td><i class="fa fa-list" fxHide.md fxHide.lg fxHide.xl mdTooltip="Playlists"></i> {{publicData.user.playlist_count}}</td>
						</tr>
						<tr [ngClass]="{ 'selected': selectedTab === 'Favorites' }">
							<td fxHide.xs fxHide.sm>Favorites</td>
							<td><i class="fa fa-heart" fxHide.md fxHide.lg fxHide.xl mdTooltip="Public favorites"></i> {{publicData.user.public_favorites_count}}</td>
						</tr>
						<tr [ngClass]="{ 'selected': selectedTab === 'Followers' }">
							<td fxHide.xs fxHide.sm>Followers</td>
							<td><i class="fa fa-users" fxHide.md fxHide.lg fxHide.xl mdTooltip="Followers"></i> {{publicData.user.followers_count}}</td>
						</tr>
						<tr [ngClass]="{ 'selected': selectedTab === 'Followings' }">
							<td fxHide.xs fxHide.sm>Followings</td>
							<td><i class="fa fa-users" fxHide.md fxHide.lg fxHide.xl mdTooltip="Followings"></i> {{publicData.user.followings_count}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div fxFlex="75" id="scroll-content">
		<legend>Data</legend>

		<md-tab-group fxHide="{{!userSelected()}}" #tabGroup>
			<md-tab *ngFor="let tab of dataTabs; let i = index">
				<ng-template md-tab-label>
					<span [ngClass]="{ 'active': tab === selectedTab }">{{tab}}</span>
				</ng-template>
				<div class="tab-body">
					tab body {{i}}
				</div>
			</md-tab>
		</md-tab-group>

		<span *ngIf="userSelected()">
			<span role="navigation">
				<ul class="nav nav-tabs nav-justified">
					<li role="presentation" *ngFor="let tab of dataTabs" [ngClass]="{ 'active': tab === selectedTab }">
						<a (click)="selectTab(tab)">{{tab}}</a>
					</li>
				</ul>
			</span>
			<div *ngIf="selectedTab === ''">
				<ul class="nav nav-tabs nav-justified">
					<li role="presentation" *ngFor="let tab of dataTabs" class="text-center">
						<i class="glyphicon glyphicon-chevron-up"></i>
					</li>
				</ul>
				<p class="text-center">select tab</p>
			</div>
			<div id="filters" *ngIf="selectedTab !== ''">
				<span class="flex-item">
					<span class="input-label"><i class="fa fa-search" aria-hidden="true"></i> Search:</span>
					<input [(ngModel)]="filterSearchQuery" class="form-control">
				</span>
				<span class="flex-item">
					<span class="input-label"><i class="fa fa-sort" aria-hidden="true"></i> Sort by:</span>
					<select [(ngModel)]="sortByCriterion" class="form-control">
						<option value="name">Alphabetical</option>
						<option value="timestamp">Timestamp</option>
					</select>
				</span>
			</div>

			<audio controls="controls" *ngIf="selectedTrack" audioPlayer>
				<source src="{{selectedTrack}}" type="audio/mpeg">
				Error: Your browser does not support <code>audio</code> element.
			</audio>

			<div id="data" class="panel panel-default">

				<div class="panel-body" *ngIf="selectedTab === dataTabs[0]">

					<div class="media" *ngFor="let track of publicData.tracks" [ngClass]="{ 'selected-track': selectedTrackURI ===  track.stream_url }">
						<div class="media-left">
							<a (click)="playTrack(track.stream_url)">
								<img class="media-object" [src]="track.artwork_url">
							</a>
							<div class="label label-default">{{track.genre}}</div>
							<div class="label label-default">{{track.license}}</div>
						</div>
						<div class="media-body">
							<div class="label label-default pull-right">{{track.created_at | date:'yyyy-MM-dd'}}</div>
							<h4 class="media-heading">{{track.title}}</h4>
							<span class="waveform-container">
								<div class="underlay" *ngIf="selectedTrackURI === track.stream_url"></div>
								<img class="waveform" [src]="track.waveform_url">
							</span>
							<span class="controls">
								<a (click)="playTrack(track.stream_url)" class="flex-item">
									<i class="glyphicon glyphicon-pause" *ngIf="audioPlayback && selectedTrackURI ===  track.stream_url"></i>
									<i class="glyphicon glyphicon-play" *ngIf="!audioPlayback || (audioPlayback && selectedTrackURI !==  track.stream_url)"></i> {{track.playback_count}}
								</a>
								<span class="flex-item">
									<i class="glyphicon glyphicon-time"></i> {{track.duration | duration}}
								</span>
								<a (click)="downloadTrack(track.download_url)" class="flex-item" *ngIf="track.downloadable">
									<i class="glyphicon glyphicon-save"></i>
								</a>
								<a [href]="track.purchase_url" target=_blank class="flex-item" *ngIf="track.purchase_url">
									<i class="glyphicon glyphicon-shopping-cart"></i>
								</a>
								<span class="flex-item">
									<i class="glyphicon glyphicon-heart"></i> {{track.favoritings_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-comment"></i> {{track.comment_count}}
								</span>
							</span>
						</div>
					</div>
				</div>

				<div class="panel-body" *ngIf="selectedTab === dataTabs[1]">
					<div class="media" *ngFor="let playlist of publicData.playlists; let j = index;">
						<div class="media-left">
							<img class="media-object" [src]="playlist.artwork_url">
							<div class="label label-default">{{playlist.genre}}</div>
							<div class="label label-default">{{playlist.license}}</div>
						</div>
						<div class="media-body">
							<div class="label label-default pull-right">{{playlist.created_at | date:'yyyy-MM-dd'}}</div>
							<h4 class="media-heading">{{playlist.title}}</h4>
							<span class="description-container" contenteditable="false">
								{{playlist.description}}
							</span>
							<span class="controls">
								<a (click)="togglePlaylist(j)" class="flex-item">
									<i class="glyphicon glyphicon-music"></i> {{playlist.track_count}}
								</a>
								<span class="flex-item">
									<i class="glyphicon glyphicon-time"></i> {{playlist.duration | duration}}
								</span>
								<a [href]="playlist.permalink_url" target=_blank class="flex-item">
									<i class="glyphicon glyphicon-new-window"></i>
								</a>
								<span class="flex-item" *ngIf="playlist.label_name">
									<i class="glyphicon glyphicon-tag"></i> {{playlist.label_name}}
								</span>
								<span class="flex-item" *ngIf="playlist.release_year && playlist.release_month && playlist.release_day">
									<i class="glyphicon glyphicon-calendar"></i> {{playlist.release_year}}-{{playlist.release_month}}-{{playlist.release_day}}
								</span>
							</span>
							<table class="table table-condensed table-hover playlist-tracks" *ngIf="displayPlaylistTracks[j]">
								<thead>
									<tr>
										<th>#</th>
										<th>Title</th>
										<th>Genre</th>
										<th>Duration</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let playlistTrack of playlist.tracks; let i = index;">
										<td>{{i}}</td>
										<td>{{playlistTrack.title}}</td>
										<td>{{playlistTrack.genre}}</td>
										<td>{{playlistTrack.duration | duration}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="panel-body" *ngIf="selectedTab === dataTabs[2]">

					<div class="media" *ngFor="let track of publicData.favorites" [ngClass]="{ 'selected-track': selectedTrackURI ===  track.stream_url }">
						<div class="media-left">
							<a (click)="playTrack(track.stream_url)">
								<img class="media-object" [src]="track.artwork_url">
							</a>
							<div class="label label-default">{{track.genre}}</div>
							<div class="label label-default">{{track.license}}</div>
						</div>
						<div class="media-body">
							<div class="label label-default pull-right">{{track.created_at | date:'yyyy-MM-dd'}}</div>
							<h4 class="media-heading">{{track.title}}</h4>
							<span class="waveform-container">
								<div class="underlay" *ngIf="selectedTrackURI === track.stream_url"></div>
								<img class="waveform" [src]="track.waveform_url">
							</span>
							<span class="controls">
								<a class="flex-item" (click)="playTrack(track.stream_url)">
									<i class="glyphicon glyphicon-pause" *ngIf="audioPlayback && selectedTrackURI ===  track.stream_url"></i>
									<i class="glyphicon glyphicon-play" *ngIf="!audioPlayback || (audioPlayback && selectedTrackURI !==  track.stream_url)"></i> {{track.playback_count}}
								</a>
								<a class="flex-item" (click)="downloadTrack(track.download_url)" *ngIf="track.downloadable">
									<i class="glyphicon glyphicon-save"></i>
								</a>
								<a [href]="track.purchase_url" target=_blank class="flex-item" *ngIf="track.purchase_url">
									<i class="glyphicon glyphicon-shopping-cart"></i>
								</a>
								<span class="flex-item">
									<i class="glyphicon glyphicon-heart"></i> {{track.favoritings_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-comment"></i> {{track.comment_count}}
								</span>
							</span>
						</div>
					</div>
				</div>

				<div class="panel-body" *ngIf="selectedTab === dataTabs[3]">
					<div class="media" *ngFor="let user of publicData.followers">
						<div class="media-left">
							<a [href]="user.permalink_url" target=_blank>
								<img class="media-object" [src]="user.avatar_url">
							</a>
							<div class="label label-default">{{user.plan}}</div>
							<div class="label" [ngClass]="{ 'label-success': user.online, 'label-danger': !user.online }">online</div>
						</div>
						<div class="media-body">
							<div class="label label-default pull-right">{{user.last_modified | date:'yyyy-MM-dd'}}</div>
							<h4 class="media-heading">{{user.username}}</h4>
							<span class="description-container" contenteditable="false">
								{{user.description}}
							</span>
							<span class="controls">
								<span class="flex-item">
									<i class="glyphicon glyphicon-music"></i> {{user.track_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-th-list"></i> {{user.playlist_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-heart"></i> {{user.public_favorites_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-retweet"></i> {{user.reposts_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-comment"></i> {{user.comments_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-arrow-up"></i> {{user.followers_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-arrow-down"></i> {{user.followings_count}}
								</span>
								<a class="flex-item" [href]="user.website" *ngIf="user.website && user.website_title">
									<i class="glyphicon glyphicon-link"></i> {{user.website_title}}
								</a>
								<a class="flex-item" (click)="analyseThisUser(user.permalink)">
									<i class="glyphicon glyphicon-search"></i>
								</a>
							</span>
						</div>
					</div>
				</div>

				<div class="panel-body" *ngIf="selectedTab === dataTabs[4]">
					<div class="media" *ngFor="let user of publicData.followings">
						<div class="media-left">
							<a [href]="user.permalink_url" target=_blank>
								<img class="media-object" [src]="user.avatar_url">
							</a>
							<div class="label label-default">{{user.plan}}</div>
							<div class="label" [ngClass]="{ 'label-success': user.online, 'label-danger': !user.online }">online</div>
						</div>
						<div class="media-body">
							<div class="label label-default pull-right">{{user.last_modified | date:'yyyy-MM-dd'}}</div>
							<h4 class="media-heading">{{user.username}}</h4>
							<span class="description-container" contenteditable="false">
								{{user.description}}
							</span>
							<span class="controls">
								<span class="flex-item">
									<i class="glyphicon glyphicon-music"></i> {{user.track_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-th-list"></i> {{user.playlist_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-heart"></i> {{user.public_favorites_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-retweet"></i> {{user.reposts_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-comment"></i> {{user.comments_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-arrow-up"></i> {{user.followers_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-arrow-down"></i> {{user.followings_count}}
								</span>
								<a class="flex-item" [href]="user.website" *ngIf="user.website && user.website_title">
									<i class="glyphicon glyphicon-link"></i> {{user.website_title}}
								</a>
								<a class="flex-item" (click)="analyseThisUser(user.permalink)">
									<i class="glyphicon glyphicon-search"></i>
								</a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</span>
		<span *ngIf="!userSelected()">
			<div id="instructions">
				input <a href="https://soundcloud.com" target=_blank><i class="fa fa-external-link"></i> soundcloud</a> user name to be able to request data, or select one from the following list
			</div>
			<div id="queries-flex" *ngIf="queries">
				<a fxFlex md-button class="mat-primary" *ngFor="let q of queries.data" (click)="analyseThisUser(q.name)">{{q.name}}</a>
			</div>
		</span>
	</div>
</div>
