<div fxLayout="column" fxLayoutFill>
	<h3>{{title}}
		<a (click)="toggleModal()" matTooltip="App diagnostics">
			<mat-icon class="material-icons-fas" fontSet="fas" fontIcon="fa-heartbeat" title="show help" [ngClass]="{'help-highlight': showHelp}"></mat-icon>
		</a>
	</h3>
	<p>{{description}}</p>

	<nvd3 #chart [options]="chartOptions" [data]="appUsageData"></nvd3>

	<span id="modal" *ngIf="showModal">
		<button type="button" class="close" (click)="toggleModal()"><span>&times;</span></button>
		<h4>Platform Diagnostics</h4>
		<table>
			<tbody>
				<tr *ngFor="let unit of serverData.static">
					<td>{{unit.name}}</td>
					<td>{{unit.value}}</td>
				</tr>
			</tbody>
			<tbody>
				<tr *ngFor="let unit of serverData.dynamic">
					<td>{{unit.name}}</td>
					<td>{{unit.value}}</td>
				</tr>
			</tbody>
		</table>
	</span>
</div>
