<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h3>{{title}}</h3>
			<p>{{description}}</p>

			<div class="btn-group btn-group-justified" role="group" id="login-buttons">
				<div class="btn-group" role="group">
					<a class="btn btn-default" href="/auth/soundcloud">
						<img src="/public/img/SoundCloud_logo.svg" alt="github logo" />
						<p>SOUNDCLOUD LOGIN</p>
					</a>
				</div>
				<div class="btn-group" role="group">
					<a class="btn btn-default" href="/auth/twitter">
						<img src="/public/img/Twitter_bird_logo_2012.svg" alt="twitter logo" />
						<p>TWITTER LOGIN</p>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
