<div id="dashboard-data">
	<div *ngIf="displayError" class="alert alert-danger alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		{{displayError}}
	</div>
	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
		<legend>User</legend>
		<div *ngIf="!userSelected()">
			<div class="input-group row" [ngClass]="{ 'has-error': (!scUserName || scUserName.length < 3) }">
				<span class="input-group-addon">http://soundcloud.com/</span>
				<input type="text" class="form-control" [(ngModel)]="scUserName" pattern="scUserNamePattern" (keyup)="scUserNameKey($event)">
				<span class="input-group-btn">
					<button class="btn" [ngClass]="{ 'btn-danger': (!scUserName || scUserName.length < 3), 'btn-success': (scUserName && scUserName.length >= 3) }" (click)="getUser()" [disabled]="!scUserName || scUserName.length < 3 ">get</button>
				</span>
			</div>
		</div>
		<div *ngIf="userSelected()">
			<div class="input-group row">
				<span class="input-group-addon">http://soundcloud.com/{{scUserName}}</span>
				<span class="input-group-btn">
					<button class="btn btn-danger" (click)="resetSelection()">
						<i class="glyphicon glyphicon-remove"></i>
					</button>
				</span>
			</div>
			<div class="thumbnail" id="sc-user">
				<a [href]="publicData.user.permalink_url" target=_blank>
					<img [src]="publicData.user.avatar_url" alt="{{publicData.user.permalink}}">
				</a>
				<div class="caption">
					<h3>{{publicData.user.username}}</h3>
					<h4>{{publicData.user.full_name}}</h4>
					<h4>
						<span class="label label-default">{{publicData.user.plan}}</span>
						<span class="label label-default">{{publicData.user.kind}}</span>
						<span class="label" [ngClass]="{ 'label-success': publicData.user.online, 'label-danger': !publicData.user.online }">{{ (publicData.user.online) ? 'online' : 'offline' }}</span>
					</h4>
					<table class="table table-condensed table-hover">
						<tbody>
							<tr>
								<td class="hidden-xs hidden-sm">Id</td>
								<td><i class="glyphicon glyphicon-info-sign hidden-md hidden-lg" title="Id"></i> {{publicData.user.id}}</td>
							</tr>
							<tr>
								<td class="hidden-xs hidden-sm">Last&nbsp;modified</td>
								<td><i class="glyphicon glyphicon-time hidden-md hidden-lg" title="Last modified"></i> {{publicData.user.last_modified | date: 'yyyy-MM-dd hh:mm'}}</td>
							</tr>
							<tr>
								<td class="hidden-xs hidden-sm">Location</td>
								<td><i class="glyphicon glyphicon-globe hidden-md hidden-lg" title="Location"></i> {{publicData.user.country}} / {{publicData.user.city}}</td>
							</tr>
							<tr *ngIf="publicData.user.discogs_name">
								<td class="hidden-xs hidden-sm">Discogs&nbsp;name</td>
								<td><i class="glyphicon glyphicon-link hidden-md hidden-lg" title="Discogs name"></i> {{publicData.user.discogs_name}}</td>
							</tr>
							<tr *ngIf="publicData.user.myspace_name">
								<td class="hidden-xs hidden-sm">Myspace&nbsp;name</td>
								<td><i class="glyphicon glyphicon-link hidden-md hidden-lg" title="Myspace name"></i> {{publicData.user.myspace_name}}</td>
							</tr>
							<tr>
								<td class="hidden-xs hidden-sm">Website</td>
								<td><a [href]="publicData.user.website" target=_blank><i class="glyphicon glyphicon-home" title="Website"></i> {{publicData.user.website_title}}</a></td>
							</tr>
							<tr [ngClass]="{ 'info': selectedTab === 'Tracks' }">
								<td class="hidden-xs hidden-sm">Tracks</td>
								<td><i class="glyphicon glyphicon-music hidden-md hidden-lg" title="Tracks"></i> {{publicData.user.track_count}}</td>
							</tr>
							<tr [ngClass]="{ 'info': selectedTab === 'Playlists' }">
								<td class="hidden-xs hidden-sm">Playlists</td>
								<td><i class="glyphicon glyphicon-list-alt hidden-md hidden-lg" title="Playlists"></i> {{publicData.user.playlist_count}}</td>
							</tr>
							<tr [ngClass]="{ 'info': selectedTab === 'Favorites' }">
								<td class="hidden-xs hidden-sm">Favorites</td>
								<td><i class="glyphicon glyphicon-heart hidden-md hidden-lg" title="Public favorites"></i> {{publicData.user.public_favorites_count}}</td>
							</tr>
							<tr [ngClass]="{ 'info': selectedTab === 'Followers' }">
								<td class="hidden-xs hidden-sm">Followers</td>
								<td><i class="glyphicon glyphicon-user hidden-md hidden-lg" title="Followers"></i> {{publicData.user.followers_count}}</td>
							</tr>
							<tr [ngClass]="{ 'info': selectedTab === 'Followings' }">
								<td class="hidden-xs hidden-sm">Followings</td>
								<td><i class="glyphicon glyphicon-user hidden-md hidden-lg" title="Followings"></i> {{publicData.user.followings_count}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
		<legend>Data</legend>
		<span *ngIf="userSelected()">
			<span role="navigation">
				<ul class="nav nav-tabs nav-justified">
					<li role="presentation" *ngFor="let tab of dataTabs" [ngClass]="{ 'active': tab === selectedTab }">
						<a (click)="selectTab(tab)">{{tab}}</a>
					</li>
				</ul>
			</span>
			<div *ngIf="selectedTab === ''">
				<ul class="nav nav-tabs nav-justified">
					<li role="presentation" *ngFor="let tab of dataTabs" class="text-center">
						<i class="glyphicon glyphicon-chevron-up"></i>
					</li>
				</ul>
				<p class="text-center">select tab</p>
			</div>
			<div id="filters" *ngIf="selectedTab !== ''">
				<span class="flex-item">
					<span class="input-label"><i class="fa fa-search" aria-hidden="true"></i> Search:</span>
					<input [(ngModel)]="filterSearchQuery" class="form-control">
				</span>
				<span class="flex-item">
					<span class="input-label"><i class="fa fa-sort" aria-hidden="true"></i> Sort by:</span>
					<select [(ngModel)]="sortByCriterion" class="form-control">
						<option value="name">Alphabetical</option>
						<option value="timestamp">Timestamp</option>
					</select>
				</span>
			</div>
			<div id="data" class="panel panel-default" *ngFor="let tab of dataTabs" [hidden]="tab !== selectedTab">

				<div class="panel-body" *ngIf="selectedTab === dataTabs[0]">
					<audio controls="controls" *ngIf="selectedTrack" audioPlayer>
						<source src="{{selectedTrack}}" type="audio/mpeg">
						Error: Your browser does not support <code>audio</code> element.
					</audio>
					<div class="media" *ngFor="let track of publicData.tracks" [ngClass]="{ 'selected-track': selectedTrackURI ===  track.stream_url }">
						<div class="media-left">
							<a (click)="playTrack(track.stream_url)">
								<img class="media-object" [src]="track.artwork_url">
							</a>
							<div class="label label-default">{{track.genre}}</div>
							<div class="label label-default">{{track.license}}</div>
						</div>
						<div class="media-body">
							<div class="label label-default pull-right">{{track.created_at | date:'yyyy-MM-dd'}}</div>
							<h4 class="media-heading">{{track.title}}</h4>
							<span class="waveform-container">
								<div class="underlay" *ngIf="selectedTrackURI === track.stream_url"></div>
								<img class="waveform" [src]="track.waveform_url">
							</span>
							<span class="controls">
								<a (click)="playTrack(track.stream_url)" class="flex-item">
									<i class="glyphicon glyphicon-pause" *ngIf="audioPlayback && selectedTrackURI ===  track.stream_url"></i>
									<i class="glyphicon glyphicon-play" *ngIf="!audioPlayback || (audioPlayback && selectedTrackURI !==  track.stream_url)"></i> {{track.playback_count}}
								</a>
								<span class="flex-item">
									<i class="glyphicon glyphicon-time"></i> {{track.duration | duration}}
								</span>
								<a (click)="downloadTrack(track.download_url)" class="flex-item" *ngIf="track.downloadable">
									<i class="glyphicon glyphicon-save"></i>
								</a>
								<a [href]="track.purchase_url" target=_blank class="flex-item" *ngIf="track.purchase_url">
									<i class="glyphicon glyphicon-shopping-cart"></i>
								</a>
								<span class="flex-item">
									<i class="glyphicon glyphicon-heart"></i> {{track.favoritings_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-comment"></i> {{track.comment_count}}
								</span>
							</span>
						</div>
					</div>
				</div>

				<div class="panel-body" *ngIf="selectedTab === dataTabs[1]">
					<div class="media" *ngFor="let playlist of publicData.playlists; let j = index;">
						<div class="media-left">
							<img class="media-object" [src]="playlist.artwork_url">
							<div class="label label-default">{{playlist.genre}}</div>
							<div class="label label-default">{{playlist.license}}</div>
						</div>
						<div class="media-body">
							<div class="label label-default pull-right">{{playlist.created_at | date:'yyyy-MM-dd'}}</div>
							<h4 class="media-heading">{{playlist.title}}</h4>
							<span class="description-container" contenteditable="false">
								{{playlist.description}}
							</span>
							<span class="controls">
								<a (click)="togglePlaylist(j)" class="flex-item">
									<i class="glyphicon glyphicon-music"></i> {{playlist.track_count}}
								</a>
								<span class="flex-item">
									<i class="glyphicon glyphicon-time"></i> {{playlist.duration | duration}}
								</span>
								<a [href]="playlist.permalink_url" target=_blank class="flex-item">
									<i class="glyphicon glyphicon-new-window"></i>
								</a>
								<span class="flex-item" *ngIf="playlist.label_name">
									<i class="glyphicon glyphicon-tag"></i> {{playlist.label_name}}
								</span>
								<span class="flex-item" *ngIf="playlist.release_year && playlist.release_month && playlist.release_day">
									<i class="glyphicon glyphicon-calendar"></i> {{playlist.release_year}}-{{playlist.release_month}}-{{playlist.release_day}}
								</span>
							</span>
							<table class="table table-condensed table-hover playlist-tracks" *ngIf="displayPlaylistTracks[j]">
								<thead>
									<tr>
										<th>#</th>
										<th>Title</th>
										<th>Genre</th>
										<th>Duration</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let playlistTrack of playlist.tracks; let i = index;">
										<td>{{i}}</td>
										<td>{{playlistTrack.title}}</td>
										<td>{{playlistTrack.genre}}</td>
										<td>{{playlistTrack.duration | duration}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="panel-body" *ngIf="selectedTab === dataTabs[2]">
					<audio controls="controls" *ngIf="selectedTrack" audioPlayer>
						<source src="{{selectedTrack}}" type="audio/mpeg">
						Error: Your browser does not support <code>audio</code> element.
					</audio>
					<div class="media" *ngFor="let track of publicData.favorites" [ngClass]="{ 'selected-track': selectedTrackURI ===  track.stream_url }">
						<div class="media-left">
							<a (click)="playTrack(track.stream_url)">
								<img class="media-object" [src]="track.artwork_url">
							</a>
							<div class="label label-default">{{track.genre}}</div>
							<div class="label label-default">{{track.license}}</div>
						</div>
						<div class="media-body">
							<div class="label label-default pull-right">{{track.created_at | date:'yyyy-MM-dd'}}</div>
							<h4 class="media-heading">{{track.title}}</h4>
							<span class="waveform-container">
								<div class="underlay" *ngIf="selectedTrackURI === track.stream_url"></div>
								<img class="waveform" [src]="track.waveform_url">
							</span>
							<span class="controls">
								<a class="flex-item" (click)="playTrack(track.stream_url)">
									<i class="glyphicon glyphicon-pause" *ngIf="audioPlayback && selectedTrackURI ===  track.stream_url"></i>
									<i class="glyphicon glyphicon-play" *ngIf="!audioPlayback || (audioPlayback && selectedTrackURI !==  track.stream_url)"></i> {{track.playback_count}}
								</a>
								<a class="flex-item" (click)="downloadTrack(track.download_url)" *ngIf="track.downloadable">
									<i class="glyphicon glyphicon-save"></i>
								</a>
								<a [href]="track.purchase_url" target=_blank class="flex-item" *ngIf="track.purchase_url">
									<i class="glyphicon glyphicon-shopping-cart"></i>
								</a>
								<span class="flex-item">
									<i class="glyphicon glyphicon-heart"></i> {{track.favoritings_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-comment"></i> {{track.comment_count}}
								</span>
							</span>
						</div>
					</div>
				</div>

				<div class="panel-body" *ngIf="selectedTab === dataTabs[3]">
					<div class="media" *ngFor="let user of publicData.followers">
						<div class="media-left">
							<a [href]="user.permalink_url" target=_blank>
								<img class="media-object" [src]="user.avatar_url">
							</a>
							<div class="label label-default">{{user.plan}}</div>
							<div class="label" [ngClass]="{ 'label-success': user.online, 'label-danger': !user.online }">online</div>
						</div>
						<div class="media-body">
							<div class="label label-default pull-right">{{user.last_modified | date:'yyyy-MM-dd'}}</div>
							<h4 class="media-heading">{{user.username}}</h4>
							<span class="description-container" contenteditable="false">
								{{user.description}}
							</span>
							<span class="controls">
								<span class="flex-item">
									<i class="glyphicon glyphicon-music"></i> {{user.track_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-th-list"></i> {{user.playlist_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-heart"></i> {{user.public_favorites_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-retweet"></i> {{user.reposts_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-comment"></i> {{user.comments_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-arrow-up"></i> {{user.followers_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-arrow-down"></i> {{user.followings_count}}
								</span>
								<a class="flex-item" [href]="user.website" *ngIf="user.website && user.website_title">
									<i class="glyphicon glyphicon-link"></i> {{user.website_title}}
								</a>
								<a class="flex-item" (click)="analyseThisUser(user.permalink)">
									<i class="glyphicon glyphicon-search"></i>
								</a>
							</span>
						</div>
					</div>
				</div>

				<div class="panel-body" *ngIf="selectedTab === dataTabs[4]">
					<div class="media" *ngFor="let user of publicData.followings">
						<div class="media-left">
							<a [href]="user.permalink_url" target=_blank>
								<img class="media-object" [src]="user.avatar_url">
							</a>
							<div class="label label-default">{{user.plan}}</div>
							<div class="label" [ngClass]="{ 'label-success': user.online, 'label-danger': !user.online }">online</div>
						</div>
						<div class="media-body">
							<div class="label label-default pull-right">{{user.last_modified | date:'yyyy-MM-dd'}}</div>
							<h4 class="media-heading">{{user.username}}</h4>
							<span class="description-container" contenteditable="false">
								{{user.description}}
							</span>
							<span class="controls">
								<span class="flex-item">
									<i class="glyphicon glyphicon-music"></i> {{user.track_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-th-list"></i> {{user.playlist_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-heart"></i> {{user.public_favorites_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-retweet"></i> {{user.reposts_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-comment"></i> {{user.comments_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-arrow-up"></i> {{user.followers_count}}
								</span>
								<span class="flex-item">
									<i class="glyphicon glyphicon-user"></i><i class="glyphicon glyphicon-arrow-down"></i> {{user.followings_count}}
								</span>
								<a class="flex-item" [href]="user.website" *ngIf="user.website && user.website_title">
									<i class="glyphicon glyphicon-link"></i> {{user.website_title}}
								</a>
								<a class="flex-item" (click)="analyseThisUser(user.permalink)">
									<i class="glyphicon glyphicon-search"></i>
								</a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</span>
		<span *ngIf="!userSelected()">
			input <a href="https://soundcloud.com" target=_blank><i class="glyphicon glyphicon-new-window"></i> soundcloud</a> user name to be able to request data
		</span>
	</div>
</div>
