<mat-toolbar>
	<span><h1>SPAMT</h1></span>
	<span fxFlex="1 1 auto"></span>
	<span class="mat-toolbar-tools">
		<button (click)="switchNavButtons($event, 'help');" mat-button [ngClass]="{selected: showHelp, inactive: !showHelp}" [fxHide.xs]="true" [fxHide.sm]="true" matTooltip="Highlight controls">
			<i class="fa fa-question-circle-o" [ngClass]="{'help-highlight': showHelp}"></i> Help
		</button>
		<button [routerLink]="['intro']" (click)="switchNavButtons($event, 'intro')" mat-button [ngClass]="{selected: navButtonsState[1], inactive: !navButtonsState[1]}" [fxHide.xs]="true" [fxHide.sm]="true" matTooltip="App intro">
			<i class="fa fa-tachometer" [ngClass]="{'help-highlight': showHelp}"></i> Intro
		</button>
		<button [routerLink]="['data']" (click)="switchNavButtons($event, 'data')" mat-button [ngClass]="{selected: navButtonsState[2], inactive: !navButtonsState[2]}" [fxHide.xs]="true" [fxHide.sm]="true" matTooltip="Soundcloud data">
			<i class="fa fa-database" [ngClass]="{'help-highlight': showHelp}"></i> Data
		</button>
		<button [routerLink]="['controls']" (click)="switchNavButtons($event, 'controls')" mat-button [ngClass]="{selected: navButtonsState[3], inactive: !navButtonsState[3]}" [fxHide.xs]="true" [fxHide.sm]="true" matTooltip="App controls">
			<i class="fa fa-cogs" [ngClass]="{'help-highlight': showHelp}"></i> Controls
		</button>
		<button [routerLink]="['user']" (click)="switchNavButtons($event, 'user')" mat-button [ngClass]="{selected: navButtonsState[4], inactive: !navButtonsState[4]}" [fxHide.xs]="true" [fxHide.sm]="true" matTooltip="User login">
			<i class="fa fa-user" [ngClass]="{'help-highlight': showHelp}"></i> User
		</button>

		<button mat-button [matMenuTriggerFor]="mobileMenu" [fxHide.md]="true" [fxHide.lg]="true">
			<i class="fa fa-ellipsis-v"></i>
		</button>
		<mat-menu #mobileMenu="matMenu" [fxHide.md]="true" [fxHide.lg]="true">
			<button (click)="switchNavButtons($event, 'help');" mat-menu-item [ngClass]="{selected: showHelp, inactive: !showHelp}" matTooltip="Highlight controls">
				<i class="fa fa-question-circle-o" [ngClass]="{'help-highlight': showHelp}"></i> Help
			</button>
			<button [routerLink]="['intro']" (click)="switchNavButtons($event, 'intro')" mat-menu-item [ngClass]="{selected: navButtonsState[1], inactive: !navButtonsState[1]}" matTooltip="App intro">
				<i class="fa fa-tachometer" [ngClass]="{'help-highlight': showHelp}"></i> Intro
			</button>
			<button [routerLink]="['data']" (click)="switchNavButtons($event, 'data')" mat-menu-item [ngClass]="{selected: navButtonsState[2], inactive: !navButtonsState[2]}" matTooltip="Soundcloud data">
				<i class="fa fa-database" [ngClass]="{'help-highlight': showHelp}"></i> Data
			</button>
			<button [routerLink]="['controls']" (click)="switchNavButtons($event, 'controls')" mat-menu-item [ngClass]="{selected: navButtonsState[3], inactive: !navButtonsState[3]}" matTooltip="App controls">
				<i class="fa fa-cogs" [ngClass]="{'help-highlight': showHelp}"></i> Controls
			</button>
			<button [routerLink]="['user']" (click)="switchNavButtons($event, 'user')" mat-menu-item [ngClass]="{selected: navButtonsState[4], inactive: !navButtonsState[4]}" matTooltip="User login">
				<i class="fa fa-user" [ngClass]="{'help-highlight': showHelp}"></i> User
			</button>
		</mat-menu>
	</span>
</mat-toolbar>
