<span fxFlex="0 1 auto" *ngIf="!isLoggedIn()">
	<h3>{{title}}</h3>
	<p>{{description.welcome}}</p>
</span>
<span fxFlex *ngIf="isLoggedIn()">
	<h3>
		{{title}}
		<a (click)="toggleModal()" mdTooltip="Your SPAMT profile">
			<i class="fa fa-user" [ngClass]="{ 'help-highlight': showHelp }"></i>
		</a>
		<a (click)="logout()" mdTooltip="Log out of SPAMT User Panel">
			<i class="fa fa-sign-out" [ngClass]="{ 'help-highlight': showHelp }"></i>
		</a>
	</h3>
	<p>{{description.authenticated}}</p>
</span>

<div fxFlex *ngIf="errorMessage || successMessage">
	<div *ngIf="errorMessage" class="feedback warning" fxLayout="row" fxLayoutAlign="start stretch">
		<span fxFlex="90" fxLayout="row" fxLayoutAlign="start center">
			<i class="fa fa-warning"></i> {{errorMessage}}
		</span>
		<button type="button" class="close" (click)="dismissMessages()" aria-label="Close">&times;</button>
	</div>
	<div *ngIf="successMessage" class="feedback success" fxLayout="row" fxLayoutAlign="start stretch">
		<span fxFlex="90"  fxLayout="row" fxLayoutAlign="start center">
			<i class="fa fa-check-circle"></i> {{successMessage}}
		</span>
		<button fxFlex="10" type="button" class="close" (click)="dismissMessages()" aria-label="Close">&times;</button>
	</div>
</div>

<div fxFlex *ngIf="!isLoggedIn()" fxLayout="row" fxLayoutAlign="start center" fxLayoutWrap>
	<a fxFlex href="api/auth/soundcloud" fxLayout="column" fxLayoutAlign="start stretch" class="login-button" mdTooltip="Soundcloud login">
		<img fxFlex src="/public/img/SoundCloud_logo.svg" alt="soundcloud logo"/>
	</a>
	<a fxFlex href="api/auth/twitter" fxLayout="column" fxLayoutAlign="start stretch" class="login-button" mdTooltip="Twitter login">
		<img fxFlex src="/public/img/Twitter_bird_logo_2012.svg" alt="twitter logo"/>
	</a>
</div>

<div fxFlex *ngIf="isLoggedIn()">
	is logged in
</div>

<span id="modal" *ngIf="showModal && isLoggedIn()">
	<button type="button" class="close" (click)="toggleModal()"><span>&times;</span></button>
	<h4>User Profile</h4>
	<table>
		<tbody>
			<tr>
				<td>dummy</td>
				<td>dummy</td>
			</tr>
		</tbody>
	</table>
</span>
