<md-toolbar>
	<span><h1>SPAMT</h1></span>
	<span fxFlex="1 1 auto"></span>
	<span class="md-toolbar-tools">
		<button (click)="switchNavButtons($event, 'help');" md-button [ngClass]="{selected: showHelp, inactive: !showHelp}" [fxHide.xs]="true" [fxHide.sm]="true" mdTooltip="Highlight controls">
			<i class="fa fa-question-circle-o" [ngClass]="{'help-highlight': showHelp}"></i> Help
		</button>
		<button [routerLink]="['intro']" (click)="switchNavButtons($event, 'intro')" md-button [ngClass]="{selected: navButtonsState[1], inactive: !navButtonsState[1]}" [fxHide.xs]="true" [fxHide.sm]="true" mdTooltip="App intro">
			<i class="fa fa-tachometer" [ngClass]="{'help-highlight': showHelp}"></i> Intro
		</button>
		<button [routerLink]="['data']" (click)="switchNavButtons($event, 'data')" md-button [ngClass]="{selected: navButtonsState[2], inactive: !navButtonsState[2]}" [fxHide.xs]="true" [fxHide.sm]="true" mdTooltip="Soundcloud data">
			<i class="fa fa-database" [ngClass]="{'help-highlight': showHelp}"></i> Data
		</button>
		<button [routerLink]="['controls']" (click)="switchNavButtons($event, 'controls')" md-button [ngClass]="{selected: navButtonsState[3], inactive: !navButtonsState[3]}" [fxHide.xs]="true" [fxHide.sm]="true" mdTooltip="App controls">
			<i class="fa fa-cogs" [ngClass]="{'help-highlight': showHelp}"></i> Controls
		</button>
		<button [routerLink]="['user']" (click)="switchNavButtons($event, 'user')" md-button [ngClass]="{selected: navButtonsState[4], inactive: !navButtonsState[4]}" [fxHide.xs]="true" [fxHide.sm]="true" mdTooltip="User login">
			<i class="fa fa-user" [ngClass]="{'help-highlight': showHelp}"></i> User
		</button>

		<button md-button [mdMenuTriggerFor]="mobileMenu" [fxHide.md]="true" [fxHide.lg]="true">
			<i class="fa fa-ellipsis-v"></i>
		</button>
		<md-menu #mobileMenu="mdMenu" [fxHide.md]="true" [fxHide.lg]="true">
			<button (click)="switchNavButtons($event, 'help');" md-menu-item [ngClass]="{selected: showHelp, inactive: !showHelp}" mdTooltip="Highlight controls">
				<i class="fa fa-question-circle-o" [ngClass]="{'help-highlight': showHelp}"></i> Help
			</button>
			<button [routerLink]="['intro']" (click)="switchNavButtons($event, 'intro')" md-menu-item [ngClass]="{selected: navButtonsState[1], inactive: !navButtonsState[1]}" mdTooltip="App intro">
				<i class="fa fa-tachometer" [ngClass]="{'help-highlight': showHelp}"></i> Intro
			</button>
			<button [routerLink]="['data']" (click)="switchNavButtons($event, 'data')" md-menu-item [ngClass]="{selected: navButtonsState[2], inactive: !navButtonsState[2]}" mdTooltip="Soundcloud data">
				<i class="fa fa-database" [ngClass]="{'help-highlight': showHelp}"></i> Data
			</button>
			<button [routerLink]="['controls']" (click)="switchNavButtons($event, 'controls')" md-menu-item [ngClass]="{selected: navButtonsState[3], inactive: !navButtonsState[3]}" mdTooltip="App controls">
				<i class="fa fa-cogs" [ngClass]="{'help-highlight': showHelp}"></i> Controls
			</button>
			<button [routerLink]="['user']" (click)="switchNavButtons($event, 'user')" md-menu-item [ngClass]="{selected: navButtonsState[4], inactive: !navButtonsState[4]}" mdTooltip="User login">
				<i class="fa fa-user" [ngClass]="{'help-highlight': showHelp}"></i> User
			</button>
		</md-menu>
	</span>
</md-toolbar>
