<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<h3>{{title}} <a href="#" (click)="toggleModal()"><i class="fa fa-cogs"></i></a></h3>
			<p>{{description}}</p>

			<nvd3 [options]="chartOptions" [data]="appUsageData"></nvd3>

			<modal *ngIf="showModal">
				<button type="button" class="close" (click)="toggleModal()"><span>&times;</span></button>
				<h4>Platform Diagnostics</h4>
				<table class="table table-condensed table-responsive">
					<tbody>
						<tr *ngFor="let unit of serverData.static">
							<td>{{unit.name}}</td>
							<td>{{unit.value}}</td>
						</tr>
					</tbody>
					<tbody>
						<tr *ngFor="let unit of serverData.dynamic">
							<td>{{unit.name}}</td>
							<td>{{unit.value}}</td>
						</tr>
					</tbody>
				</table>
			</modal>
		</div>
	</div>
</div>
