<div fxLayout="column" fxLayoutFill>
	<span *ngIf="!userService.model.user_token" fxFlex>
		<h3>{{title}}</h3>
		<p>{{description.welcome}}</p>
	</span>
	<span *ngIf="userService.model.user_token" fxFlex>
		<h3 fxLayout="row" fxLayoutAlign="start center">
			{{title}}
			<a md-button (click)="toggleModal()" mdTooltip="Application stats">
				<i class="fa fa-bar-chart" [ngClass]="{ 'help-highlight': showHelp }"></i>
			</a>
			<a md-button (click)="logout()" mdTooltip="Log out of SPAMT Controls">
				<i class="fa fa-sign-out" [ngClass]="{ 'help-highlight': showHelp }"></i>
			</a>
		</h3>
		<p>{{description.authenticated}}</p>
	</span>

	<div fxFlex *ngIf="errorMessage || successMessage">
		<div *ngIf="errorMessage" class="feedback warning" fxLayout="row" fxLayoutAlign="start stretch">
			<span fxFlex="90" fxLayout="row" fxLayoutAlign="start center">
				<i class="fa fa-warning"></i> {{errorMessage}}
			</span>
			<button type="button" class="close" (click)="dismissMessages()" aria-label="Close">&times;</button>
		</div>
		<div *ngIf="successMessage" class="feedback success" fxLayout="row" fxLayoutAlign="start stretch">
			<span fxFlex="90" fxLayout="row" fxLayoutAlign="start center">
				<i class="fa fa-check-circle"></i> {{successMessage}}
			</span>
			<button fxFlex="10" type="button" class="close" (click)="dismissMessages()" aria-label="Close">&times;</button>
		</div>
	</div>

	<form id="auth-form" fxFlex fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="authForm" (ngSubmit)="login()" *ngIf="!userService.model.user_token && activate.form" novalidate>
		<md-form-field class="full-width">
			<input mdInput type="email" id="email" name="email" [formControl]="authForm.controls.email" pattern="^[\w%+-]+@[\w.-]+" title="email" placeholder="email" required />
			<md-icon mdSuffix class="material-icons">email</md-icon>
			<md-error *ngIf="!authForm.controls.email.error">
				Invalid value, should be email
			</md-error>
		</md-form-field>
		<div fxLayout="row" fxLayoutAlign="start stretch" class="controls">
			<span fxFlex="1 1 auto"></span>
			<span fxFlex="0 1 auto" *ngIf="authForm.controls.email.value">
				<a md-button (click)="resetForm(true)">Reset Form</a>
			</span>
		</div>
		<div fxLayout="row" fxLayoutAlign="start stretch" class="controls">
			<button md-button fxFlex type="submit" [disabled]="authForm.invalid" [attr.aria-label]="submit">Submit</button>
		</div>
	</form>

	<span *ngIf="userService.model.user_token" fxFlex>
		<div fxLayout="row" fxLayoutAlign="start center">
			<p fxFlex>Logged in as:</p>
			<p fxFlex mdTooltip="Login">{{userService.model.login}}</p>
			<p fxFlex mdTooltip="Role">{{userService.model.role}}</p>
			<p fxFlex mdTooltip="Full Name">{{userService.model.full_name}}</p>
		</div>

		<md-tab-group #tabGroup>
			<md-tab label="{{dataTabs[0]}}">
				<nvd3 *ngIf="tabGroup.selectedIndex === 0" [options]="chartOptions" [data]="appUsageData"></nvd3>
				<table>
					<thead>
						<tr>
							<th>Email</th>
							<th>First name</th>
							<th>Last name</th>
							<th>Role</th>
							<th>Last login</th>
							<th>Registered</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let user of usersList">
							<td>{{user.email}}</td>
							<td>{{user.firstName}}</td>
							<td>{{user.lastName}}</td>
							<td>{{user.role}}</td>
							<td>{{user.lastLogin | date}}</td>
							<td>{{user.registered | date}}</td>
						</tr>
					</tbody>
				</table>
			</md-tab>
			<md-tab label="{{dataTabs[1]}}">
				<nvd3 *ngIf="tabGroup.selectedIndex === 1" [options]="chartOptions" [data]="queriesData"></nvd3>
				<table>
					<thead>
						<tr>
							<th>Name</th>
							<th>Weight</th>
							<th>Timestamp</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let query of queries.queriesList">
							<td>{{query.name}}</td>
							<td>{{query.weight}}</td>
							<td>{{query.timestamp | date}}</td>
						</tr>
					</tbody>
				</table>
			</md-tab>
		</md-tab-group>
	</span>

	<span id="modal" *ngIf="showModal">
		<button type="button" class="close" (click)="toggleModal()"><span>&times;</span></button>
		<h4>Platform Diagnostics</h4>
		<table>
			<tbody>
				<tr *ngFor="let unit of serverData.static">
					<td>{{unit.name}}</td>
					<td>{{unit.value}}</td>
				</tr>
			</tbody>
		</table>
	</span>
</div>
